<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bg-gray-800">
    <h1 class="text-6xl text-purple-400" >Hola mundo</h1>
    <button class="btn glass">Glass button</button>
  </div>
  <button class="btn btn-outline btn-info">Info</button>
  <button class="btn btn-outline btn-success">Success</button>
  <button class="btn btn-outline btn-warning">Warning</button>
  <button class="btn btn-outline btn-error">Error</button>
</ion-content>
